
.user_name{
    display: flex;
    align-items: center;
    padding-right: 10px;
   
}

.no-user{
    padding-top: 5px;
    width: 40px;
    margin-right: 3px;
}




@media (max-width: 980px) {

    .profile-avatar{
        
        margin: 5px;
    }

    


    .no-user{
        width: 25px;
    }

}